*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: black;
}

#counter{
    width: 40%;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: red;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(77, 75, 75);
    border-radius: 10px;
}
.count{
    padding: 10px 25px;
    background-color: black;
    border-radius: 10px;
}
.min{
    padding: 10px 25px;
    background-color: black;
    border-radius: 10px;
}
.hrs{
    padding: 10px 25px;
    background-color: black;
    border-radius: 10px;
}
button{
    padding: 5px 10px;
    margin: 10px auto;
    border: none;
    background-color:aquamarine;
    cursor: pointer;
    border-radius: 7px;
}
button:hover{
    background-color:chocolate;
}

